Solutions/TDG_NOP_Flows/unpack/Workflows/TDGInspections-GenerateWorkOrderCandidatesonDemand-F084EA5E-610C-ED11-B83D-000D3A0C8551.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tdg_ConnectionReferenceDataverseServicePrinciple"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "4d2088cc-780b-472b-87ef-ffd89df806a7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ovs_cdnop",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ovs_rungenerateworkordercandidates",
              "subscriptionRequest/filterexpression": "ovs_rungenerateworkordercandidates eq true",
              "subscriptionRequest/runas": 3
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": []
        }
      },
      "actions": {
        "Initialize_GC_IPT_Type": {
          "runAfter": {
            "Initialize_Oversight_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e7dc138-1cd7-453c-b6cf-03842120dcc9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GCIPTOversightType",
                "type": "string"
              }
            ]
          }
        },
        "Get_Oversight_Type_-_GC_IPT": {
          "runAfter": {
            "Initialize_CurrentFiscalYear": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "689bd39b-071f-4265-8af9-3a238f303208"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_oversighttypes",
              "$select": "ovs_oversighttypeid",
              "$filter": "(ovs_oversighttypenameenglish eq 'GC IPT')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_GC_IPT": {
          "runAfter": {
            "Get_CurrentFiscalYear": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77873698-468c-4132-9c7f-e05394183a3e"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "GCIPTOversightType",
            "value": "@{first(outputs('Get_Oversight_Type_-_GC_IPT')?['body/value'])?['ovs_oversighttypeid']}"
          }
        },
        "Initialize_IsCurrentlyPlanned": {
          "runAfter": {
            "Initialize_MOC_IPT_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb048ccd-4268-4598-90a2-4aeafe6f1693"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "IsCurrentlyPlanned",
                "type": "boolean"
              }
            ]
          }
        },
        "Initialize_CurrentFiscalYear": {
          "runAfter": {
            "Initialize_IsCurrentlyPlanned": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "437ce927-7a69-45f0-ba7c-3b9560ab01b5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CurrentFiscalYear",
                "type": "string"
              }
            ]
          }
        },
        "Get_CurrentFiscalYear": {
          "runAfter": {
            "Get_Oversight_Type_-_MOC_IPT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "689bd39b-071f-4265-8af9-3a238f303208"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "tc_tcfiscalyears",
              "$select": "tc_tcfiscalyearid",
              "$filter": "(tc_iscurrentfiscalyear eq true)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_CurrentFiscalYear": {
          "runAfter": {
            "Set_MOC_IPT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77873698-468c-4132-9c7f-e05394183a3e"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "CurrentFiscalYear",
            "value": "@{first(outputs('Get_CurrentFiscalYear')?['body/value'])?['tc_tcfiscalyearid']}"
          }
        },
        "Initialize_MOC_IPT_Type": {
          "runAfter": {
            "Initialize_GC_IPT_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9e7dc138-1cd7-453c-b6cf-03842120dcc9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "MOCIPTOversightType",
                "type": "string"
              }
            ]
          }
        },
        "Get_Oversight_Type_-_MOC_IPT": {
          "runAfter": {
            "Get_Oversight_Type_-_GC_IPT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "689bd39b-071f-4265-8af9-3a238f303208"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_oversighttypes",
              "$select": "ovs_oversighttypeid",
              "$filter": "(ovs_oversighttypenameenglish eq 'MOC Facility IPT')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_MOC_IPT": {
          "runAfter": {
            "Set_GC_IPT": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77873698-468c-4132-9c7f-e05394183a3e"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "MOCIPTOversightType",
            "value": "@{first(outputs('Get_Oversight_Type_-_MOC_IPT')?['body/value'])?['ovs_oversighttypeid']}"
          }
        },
        "Initialize_Oversight_Type": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9e7dc138-1cd7-453c-b6cf-03842120dcc9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FinalOversightType",
                "type": "string"
              }
            ]
          }
        },
        "Try": {
          "actions": {
            "Get_All_Active_Region_NOPs_by_NOP": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bad5f53b-c90f-4f7c-ae16-1cbc25bdeb1d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_cdregionalnops",
                  "$filter": "(statecode eq 0) and (_ovs_cdnopid_value eq @{triggerOutputs()?['body/ovs_cdnopid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_Each_Region_NOP": {
              "foreach": "@outputs('Get_All_Active_Region_NOPs_by_NOP')?['body/value']",
              "actions": {
                "Get_All_Active_Operations_By_LOB": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c8918218-8097-4942-8c5c-58f099f3bf4a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "ovs_mocregistrations",
                      "$select": "ovs_name,_ovs_siteid_value,ovs_mocregistrationid,ovs_cdriskscore,ovs_cdpriorityscore,ovs_cdriskcategory,ovs_operationtype,_ovs_lineofbusiness_value",
                      "$filter": "statecode eq 0 and _ovs_lineofbusiness_value eq @{items('For_Each_Region_NOP')?['_ovs_lineofbusiness_id_value']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  },
                  "runtimeConfiguration": {
                    "paginationPolicy": {
                      "minimumItemCount": 100000
                    }
                  }
                },
                "For_Each_Operation": {
                  "foreach": "@outputs('Get_All_Active_Operations_By_LOB')?['body/value']",
                  "actions": {
                    "Is_Not_Civ_Av_Or_HOTI_GOA": {
                      "actions": {
                        "Is_HOTI": {
                          "actions": {
                            "Set_variable:_Final_OT_to_GCIPT": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "29c3c305-a684-4e61-822e-ee37b446cae4"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "FinalOversightType",
                                "value": "@variables('GCIPTOversightType')"
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Set_variable:__Final_OT_to_MOCIPT": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "4250a1bb-6315-4d21-bdcb-259ff1def99f"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "FinalOversightType",
                                  "value": "@variables('MOCIPTOversightType')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "equals": [
                              "@items('For_Each_Operation')?['ovs_operationtype']",
                              918640038
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5d417a44-fc18-4974-9916-ebe90aa0c5c1"
                          },
                          "type": "If"
                        },
                        "Get_Incomplete_Inspections_For_Site": {
                          "runAfter": {
                            "Is_HOTI": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a86c06ae-3473-4e5a-867d-26e466619ee8"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "msdyn_workorders",
                              "$filter": "(_msdyn_serviceaccount_value eq '@{items('For_Each_Operation')?['_ovs_siteid_value']}' and (msdyn_systemstatus eq 690970001 or msdyn_systemstatus eq 690970000)) and (ovs_FiscalYear/tc_iscurrentfiscalyear eq true)",
                              "$expand": "ovs_FiscalYear($select=tc_tcfiscalyearid)"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "If_Site_Has_Current_Planned_Inspections": {
                          "actions": {
                            "Set_variable:_IsCurrentPlanned_to_YES": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "2b971ecb-e165-4ea8-ab45-3fd63fb6787b"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "IsCurrentlyPlanned",
                                "value": true
                              }
                            }
                          },
                          "runAfter": {
                            "Get_Incomplete_Inspections_For_Site": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Set_variable:__IsCurrentPlanned_to_NO": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "9cb2232f-7f40-48a4-ad14-63e392586210"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                  "name": "IsCurrentlyPlanned",
                                  "value": false
                                }
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Get_Incomplete_Inspections_For_Site')?['value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "84883ccc-86a1-42e9-adaf-2104e683ab1b"
                          },
                          "type": "If"
                        },
                        "Get_Current_WOCs_For_Operation": {
                          "runAfter": {
                            "If_Site_Has_Current_Planned_Inspections": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a86c06ae-3473-4e5a-867d-26e466619ee8"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "ovs_workordercandidates",
                              "$filter": "(_ovs_operationid_value eq '@{items('For_Each_Operation')['ovs_mocregistrationid']}'  and _ovs_plannedfiscalyear_value eq '@{items('For_Each_Region_NOP')?['_ovs_cdfiscalyearid_value']}')"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "If_Operation_Has_WOC_Already": {
                          "actions": {
                            "For_Each_WOC": {
                              "foreach": "@outputs('Get_Current_WOCs_For_Operation')?['body/value']",
                              "actions": {
                                "Update_a_row:_Existing_WOC": {
                                  "runAfter": {},
                                  "metadata": {
                                    "operationMetadataId": "e76b849a-b6f7-4f60-8ebe-5609225113f6"
                                  },
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connectionName": "shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord",
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                      "entityName": "ovs_workordercandidates",
                                      "recordId": "@items('For_Each_WOC')?['ovs_workordercandidateid']",
                                      "item/ovs_currentlyplanned": "@variables('IsCurrentlyPlanned')",
                                      "item/ownerid@odata.bind": "/teams/@{triggerOutputs()?['body/_ownerid_value']}",
                                      "item/ovs_regionalnop@odata.bind": "/ovs_cdregionalnops/@{items('For_Each_Region_NOP')?['ovs_cdregionalnopid']}"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                  }
                                }
                              },
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "cd250bfb-fe2a-4daa-a46f-20624729a2fd"
                              },
                              "type": "Foreach"
                            }
                          },
                          "runAfter": {
                            "Get_Current_WOCs_For_Operation": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "Add_a_new_row": {
                                "runAfter": {},
                                "metadata": {
                                  "operationMetadataId": "0b54c7b5-6639-4362-b9d1-bd47f9dbd9a0"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "host": {
                                    "connectionName": "shared_commondataserviceforapps",
                                    "operationId": "CreateRecord",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                  },
                                  "parameters": {
                                    "entityName": "ovs_workordercandidates",
                                    "item/ovs_site@odata.bind": "/accounts/@{items('For_Each_Operation')?['_ovs_siteid_value']}",
                                    "item/statuscode": 1,
                                    "item/ovs_currentlyplanned": "@variables('IsCurrentlyPlanned')",
                                    "item/ovs_name": "WOC - @{items('For_Each_Operation')?['ovs_name']}",
                                    "item/ovs_operationid@odata.bind": "/ovs_mocregistrations/@{items('For_Each_Operation')?['ovs_mocregistrationid']}",
                                    "item/ovs_oversighttype@odata.bind": "/ovs_oversighttypes/@{variables('FinalOversightType')}",
                                    "item/ownerid@odata.bind": "/teams/@{items('For_Each_Region_NOP')?['_ownerid_value']}",
                                    "item/ovs_plannedfiscalyear@odata.bind": "/tc_tcfiscalyears/@{items('For_Each_Region_NOP')?['_ovs_cdfiscalyearid_value']}",
                                    "item/ovs_cdpriorityscore": "@items('For_Each_Operation')?['ovs_cdpriorityscore']",
                                    "item/ovs_regionalnop@odata.bind": "/ovs_cdregionalnops/@{items('For_Each_Region_NOP')?['ovs_cdregionalnopid']}",
                                    "item/ovs_cdriskcategory": "@items('For_Each_Operation')?['ovs_cdriskcategory']",
                                    "item/ovs_cdriskscore": "@items('For_Each_Operation')?['ovs_cdriskscore']"
                                  },
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            }
                          },
                          "expression": {
                            "greater": [
                              "@length(body('Get_Current_WOCs_For_Operation')?['value'])",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a08f5106-b107-4d7d-a2b8-9e72f3bf39b2"
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@items('For_Each_Operation')?['ovs_operationtype']",
                                918640040
                              ]
                            }
                          },
                          {
                            "not": {
                              "equals": [
                                "@items('For_Each_Operation')?['ovs_operationtype']",
                                918640042
                              ]
                            }
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6222e0d3-86c6-4532-8981-ebdb42bd52e4"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Get_All_Active_Operations_By_LOB": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ecb78762-a632-4892-9f7c-175e0d3f648c"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_All_Active_Region_NOPs_by_NOP": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "dccbfd14-124b-4f75-9327-aa659a32ec82"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Set_CurrentFiscalYear": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e47d0276-7977-4b2b-acae-522113e96604"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {},
          "runAfter": {
            "Try": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "d82b52b0-2876-4931-b2e9-5871b2c7a604"
          },
          "type": "Scope"
        },
        "Reset_\"Run_Generate_Work_Order_Candidates\"_value_": {
          "runAfter": {
            "Catch": [
              "Succeeded",
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "bdbac58a-835f-41ae-a2e7-605c0357072f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_cdnops",
              "recordId": "@triggerOutputs()?['body/ovs_cdnopid']",
              "item/ovs_rungenerateworkordercandidates": false
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}